<section class="booking">
  <div class="container">
    <div class="details mt-3 mb-5">
        <h2 class="mainfont title"> اختر موعدك<span class="subtitle ms-sm-5 ms-0 d-block text-start">المناسب لك</span></h2>
        <p class="paragraph">اختر الوقت <span class="special">المناسب</span> من المواعيد المتاحة وأكمل بيانات <br> الحجز في خطوات بسيطة</p>
    </div>
    <div class="bookDate">
    @for (group of groupedSlots().entries(); track $index) {
        <h3 class="titleDate mb-4 position-relative">{{group[0] | date:"EEEE, d MMMM y"}}</h3>
        <div class="row mb-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-3">
            @for (slot of group[1]; track $index) {
              <div class="col">
                <div class="date bg-white rounded-4 p-3 d-flex justify-content-between align-items-center">
                  <div class="rghit">
                    <span class="subtitleTime mb-2 d-block">متاح</span>
                    <h4 class="titleTime">{{slot.date + 'T' + slot.time | date:"h:mma"}}</h4>
                  </div>
                  <div class="left">
                    <button (click)="openFormAppointment(slot)" class="bookBtn btn text-white" type="button">احجز دلوقتي</button>
                  </div>
                </div> 
              </div>
            }
        </div>
    }
    </div>
    @if (showForm) {
        <app-booking-form [selectedSlot]="selectedSlot" (closeform)="showForm = false" (submitForm)="handleBooking($event)"></app-booking-form>
    }

    @if (massegeappoinmernt()) {
     <app-masseges [messageData]="massegeappoinmernt()!"></app-masseges>
    }
  </div>
</section>



















<!-- @for (slot of soltsData; track $index) {
   <div>
      {{ slot.date}}  {{slot.time}}
  </div>
} -->