<div class="formAppointmentOverlay  d-flex justify-content-center align-items-start">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="formAppointment">
            <div class="topform p-3 position-relative">
                <span class="subtitle d-flex text-start">{{'bookingForm.confirmation'|translate}}</span>
                <h3 class="text-white mainfont fs-4">{{'bookingForm.bookNow'|translate}}</h3>
                <button type="button" (click)="close()" class="closebtn position-absolute"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <form class="p-4 overflow-y-scroll" [formGroup]="bookingForm" (ngSubmit)="submitBooking()">
                <div class="feild mb-3">
                    <label for="Name">{{'bookingForm.name'|translate}}</label>
                    <input placeholder="{{'bookingForm.namePlaceholder'|translate}}" id="Name" type="text" formControlName="name">
                    @if (submitted && bookingForm.controls.name.errors?.['required']) {
                        <small class="note text-danger fs-6">{{'bookingForm.nameRequired'|translate}}</small>
                    }
                    @else if (submitted && bookingForm.controls.name.errors?.['minlength']) {
                       <small class="note text-danger fs-6">{{'bookingForm.nameMinlength'|translate}}</small>
                    }
                </div>
                <div class="feild mb-3">
                    <label for="Number">{{'bookingForm.phone'|translate}}</label>
                    <input  placeholder="01XXXXXX" id="Number" type="tel" formControlName="phone">
                    @if (submitted && bookingForm.controls.phone.errors?.['required']) {
                        <small class="note text-danger fs-6">{{'bookingForm.phoneRequired'|translate}}</small>
                    } @else if (submitted && bookingForm.controls.phone.errors?.['pattern']) {
                       <small class="note text-danger fs-6">{{'bookingForm.phoneInvalid'|translate}}</small>
                    }
                </div>
                <div class="feild mb-3">
                    <label for="problem">{{'bookingForm.problem'|translate}}</label>
                    <textarea placeholder="{{'bookingForm.problemPlaceholder'|translate}}" name="" id="problem" formControlName="problem"></textarea>               
                    @if (submitted && bookingForm.controls.problem.errors?.['required']) {
                        <small class="note text-danger fs-6">{{'bookingForm.problemRequired'|translate}}</small>
                    }
                    @else if (submitted && bookingForm.controls.problem.errors?.['minlength']) {
                        <small class="note text-danger fs-6">{{'bookingForm.problemMinlength'|translate}}</small>
                    }
                </div>
                <div class="feild mb-3">
                    <label for="appointment_type">{{'bookingForm.appointmentType'|translate}}</label>
                    <div class="radio d-flex justify-content-center align-items-center gap-3 w-100">
                    <label class="option text-center h-100 w-100">
                        <input id="new" type="radio" value="new" formControlName="appointment_type">
                        <span>
                           <i class="fa-solid fa-square-plus d-block m-auto mb-3"></i>
                           <h4 class="">{{'bookingForm.new'|translate}}</h4> 
                           <h4 class="">{{'bookingForm.newDescription'|translate}}</h4> 
                        </span>
                    </label>
                    <label class="option text-center h-100 w-100">
                      <input id="follow_up" type="radio" value="follow_up" formControlName="appointment_type">
                        <span>
                        <i class="fa-solid fa-rotate-right d-block m-auto mb-3"></i>
                        <h4 class="">{{'bookingForm.followUp'|translate}}</h4> 
                        <h4 class="">{{'bookingForm.followUpDescription'|translate}}</h4> 
                        </span>                    
                    </label>
                    </div>
                    @if (submitted && bookingForm.controls.appointment_type.errors?.['required']) {
                        <small class="note text-danger fs-6">{{'bookingForm.appointmentTypeRequired'|translate}}</small>
                    }
                </div>
                <div class="feild mb-5">
                    <label for="date">{{'bookingForm.selectedAppointment'|translate}}</label>
                    <input class="date fw-bold " value="{{selectedSlot?.date + 'T' + selectedSlot?.time | date:'EEEE,d MMMM y — h:mm a' : undefined : currentLocale}}" disabled id="date" type="text">
                </div>
                @if (submitted && bookingForm.invalid) {
                    <small class="note fw-bold text-danger fs-6 mb-5">{{'bookingForm.invalidForm'|translate}}</small>
                 }
                <button class="submitBtn btn w-100 fw-bold text-white" type="submit">{{'bookingForm.confirmBooking'|translate}}</button>
            </form>
            
        </div>
    </div>
</div>
