/* =========================
   Global Variables
========================= */
:root {
  --primary-color: #3368a0;
  --second-color:#1A3263;
  --third-color: #F2EFE7;
  --bg-footer: #1A2E45;

  --primary-text-color: #ffffff;
  --second-text-color: #000000;
  --muted-text-color: #C2D1E3;

  --bg-btn: #C8DFDB;

  --bg-success: #30D677;

  --border-radius: 8px;

  --trans: 0.3s;
}


/* =========================
   Reset
========================= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

/* =========================
   General Elements
========================= */

img,video{
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
}

/* =========================
   Global Utility Classes
========================= */

.mainfontAR{
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

html[dir="rtl"]{
  --mainFont: "IBM Plex Sans Arabic", sans-serif;
  --fontSizeTitle: clamp(40px,5vw,100px);
  --fontSizeTitleBooking:  clamp(30px, 4vw, 60px);
}

html[dir="ltr"]{
  --mainFont: "Ubuntu", sans-serif;
  --fontSizeTitle: clamp(25px,5vw,60px);
  --fontSizeTitleBooking : clamp(30px, 4vw, 50px);
}

.special{
   color: var(--primary-color);
   font-weight: bold;
}


/* aniamt */

@keyframes fadeupServses {
    from{
        transform: translateY(150px);
        opacity: 0;
    }

    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

html[dir="rtl"] {
  --left-animation: -50%;
  --right-animation: 50%;
}

html[dir="ltr"] {
  --left-animation: 50%;
  --right-animation: -50%;
}


/* responsev */

/* aniamt */
@media (max-width : 992px) {
  @keyframes fadeupAbout {
    from{
        transform: translateY(100px);
        opacity: 0;
    }

    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
}